Ejercicios Practica/SQLite_ESP32/SQLite-ESP32.json
[
    {
        "id": "d6fb14410cb1adb5",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e80aa98f27357176",
        "type": "mqtt in",
        "z": "d6fb14410cb1adb5",
        "name": "",
        "topic": "bgma/casa/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "54b0720227291710",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "f2e93f5d617fce6c"
            ]
        ]
    },
    {
        "id": "f2e93f5d617fce6c",
        "type": "function",
        "z": "d6fb14410cb1adb5",
        "name": "function 1",
        "func": "var distancia = msg.payload;\nmsg.topic=\"INSERT INTO sensor_details(sensor_id, user_id, value) VALUES(1, 1, '\"+distancia+\"');\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 240,
        "wires": [
            [
                "8992f1fc5cda36b9"
            ]
        ]
    },
    {
        "id": "8992f1fc5cda36b9",
        "type": "sqlite",
        "z": "d6fb14410cb1adb5",
        "mydb": "2d2859939d1d7e75",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "804e76edca6556ad"
            ]
        ]
    },
    {
        "id": "804e76edca6556ad",
        "type": "sqlite",
        "z": "d6fb14410cb1adb5",
        "mydb": "2d2859939d1d7e75",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM sensor_details;",
        "name": "Listar Detalle Sensor",
        "x": 540,
        "y": 280,
        "wires": [
            [
                "7c1ea6b30ba89b53"
            ]
        ]
    },
    {
        "id": "7c1ea6b30ba89b53",
        "type": "ui_table",
        "z": "d6fb14410cb1adb5",
        "group": "d1fac2336ae3cca7",
        "name": "",
        "order": 1,
        "width": 16,
        "height": 8,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "54b0720227291710",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2d2859939d1d7e75",
        "type": "sqlitedb",
        "db": "C:\\sqlite\\aiote.db",
        "mode": "RWC"
    },
    {
        "id": "d1fac2336ae3cca7",
        "type": "ui_group",
        "name": "Listar Detalle Sensor",
        "tab": "0774084e74892ddb",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0774084e74892ddb",
        "type": "ui_tab",
        "name": "BaseDatos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]